<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ItunesSearch</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body >

    <form method="get"  <h1 align="center"> </h1> action="{% url 'buscar' %}">
            <label ><h1 align="center"> Término a buscar </h1> </label><input align="left" type="text" name="criterio" >
            <input type="submit" align="center" name="buscar" value="Buscar">

            <select name="Filtro1">
                <option value=>All</aloption>
                <option value=musicTrack><h1 align="center">Music</h1></option>
                <option value=movie>Video</option>
                <option value=software>Software</option>
            </select>


    </form>
    <table border="1" align="center">
        <thead>
            <tr>
                <th>Artista</th>
                <th>Entidad</th>
                <th>Album</th>
                <th>Canción</th>
            </tr>
        
        </thead>
        <tbody>
            {% if criterio %}
                Resultados encontrados por {{ criterio }}
            {% endif %}
            {% for row in data %}
            <tr>
                <td> {{ row.artistName }} </td>
                <td> {{ row.entity}} </td>
                <td>{{ row.collectionName }} </td>
                <td>{{ row.trackName }} </td>
            </tr>
            {% empty %}
            <tr>
                <td  colspan="3" > No se han encontrado resultados</td>
            </tr>
            {% endfor %}

        </tbody>
           
    </table>
    
    
    </body>
</html>
